/* =============
    Base
============= */

ul{
    padding: 0;
    margin: 0px;

    li{
        list-style: none;
    }
}

.global-grid{
    display: grid;
    grid-template-columns: 24px auto 24px;
    grid-template-areas: ". global-grid .";

    >div{
        grid-area: global-grid;
    }
}

.show-for-md {
    display: none;
  
    @include md {
        display: block;
    }
}

.hide-for-md {
    display: block;

    @include md {
        display: none;
    }
}