/* =============
    Search
============= */


#about{
    margin-bottom: 100px;
    color: var(--white);
    background-image: url('../img/about/city-day.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;

    #about-us{
        
    }

    
}

