/* =============
    Craigs
============= */

#title{
    background-color: var(--mid-blue);
    
    color: var(--white);
    h2{
        padding: 16px;
    }
    >div{
        background-color: var(--dark-blue);
        height: 16px;
    }
}
#craigs{
    color: var(--white);
    background-color: var(--baby-blue);
    padding-top: 50px;
    padding-bottom: 150px;
    
    img{
        
    }
    aside{

        margin-bottom: 20px;
        background-color: var(--mid-blue);
        border-radius: 8px;
        #map{
            background-image: url('../img/craigs-near-me/map.jpg');
            height: 40vh;
            background-size: cover;
            background-position: center;
            border: 4px solid var(--dark-blue);
            border-radius: 8px;
            border-radius: 8px;
                
        
        
        }
        #map-icons{
            padding: 0px 8px;
            display: flex;
            section{
                margin-left: auto;
            }
        }
    }
   
    #listings{
        
        ul{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-rows: repeat(3, auto);
            gap: 10px;

            li{
                section{
                    // width: 100%;
                }
                background-color: var(--dark-blue);
                border-radius: 8px;
                box-sizing: border-box;
            }
        }
    }
}

#see-more{
    >div{
        margin-top: -300px;
        position: relative;
        background: linear-gradient(0deg, rgba(255,255,255,1) 46%, rgba(255,255,255,0.5) 76%, rgba(255,255,255,0) 100%);
        height: 200px;
        align-items: center;
        display: flex;
        justify-content: center;
        @include lg{
            height: 300px;
        }
        button{
            
            
            background-color: transparent;
            border: none;
        }  
    }
}



#listing1{

    background-image: url("../img/craigs-near-me/furn-1.jpg");
    height: 100px;
    background-position: center;
    border: 8px solid var(--dark-blue);
    background-size: cover;
    box-sizing: border-box;
    border-radius: 12px;
    @include md{
        height: 200px;
    }
    @include lg{
        height: 300px;
    }
    
}
#listing2{

    background-image: url("../img/craigs-near-me/furn-2.jpg");
    height: 100px;
    background-position: center;
    border: 8px solid var(--dark-blue);
    background-size: cover;
    box-sizing: border-box;
    border-radius: 12px;
    @include md{
        height: 200px;
    }
    @include lg{
        height: 300px;
    }
    
}
#listing3{

    background-image: url("../img/craigs-near-me/furn-3.jpg");
    height: 100px;
    background-position: center;
    border: 8px solid var(--dark-blue);
    background-size: cover;
    box-sizing: border-box;
    border-radius: 12px;
    @include md{
        height: 200px;
    }
    @include lg{
        height: 300px;
    }
    
}
#listing4{

    background-image: url("../img/craigs-near-me/furn-4.jpg");
    height: 100px;
    background-position: center;
    border: 8px solid var(--dark-blue);
    background-size: cover;
    box-sizing: border-box;
    border-radius: 12px;
    @include md{
        height: 200px;
    }
    @include lg{
        height: 300px;
    }
    
}
#listing5{

    background-image: url("../img/craigs-near-me/furn-5.jpg");
    height: 100px;
    background-position: center;
    border: 8px solid var(--dark-blue);
    background-size: cover;
    box-sizing: border-box;
    border-radius: 12px;
    @include md{
        height: 200px;
    }
    @include lg{
        height: 300px;
    }
    
}
#listing6{

    background-image: url("../img/craigs-near-me/furn-6.jpg");
    height: 100px;
    background-position: center;
    border: 8px solid var(--dark-blue);
    background-size: cover;
    box-sizing: border-box;
    border-radius: 12px;
    @include md{
        height: 200px;
    }
    @include lg{
        height: 300px;
    }
    
}

.listing-info{
    // width: 100%;
    border: 3px solid var(--white);
    border-radius: 12px;
    box-sizing: border-box;
    padding: 8px;
    margin: 8px;
    
    
}