/* =============
    Postings
============= */
#postings{
    
    margin: 100px 0px;
   
    #title {
        text-align: center;
        color: #29367E;
        h2{
            font-weight: 400;
            font-size: rem-calc(24); 
            @include lg{
            font-size: rem-calc(36);
            }
            @include xxl{
                font-size: rem-calc(48);
                }
        }
    }

    #steps {
        >div{
        margin-bottom: -50px;
        @include md{
            text-align: center;
        }
        
            ul {
                display: grid;
                grid-template-rows: repeat(3, auto);
                
                @include md{
                    grid-template-columns: auto auto auto;
                    
                }
                li{
                    
                    color: #29367E;
                    

                    h1{
                        font-weight: 400;
                        font-size: rem-calc(144);
                        margin-bottom: -80px;
                        opacity: 35%;
                         
                        @include md{
                            font-size: rem-calc(288);
                            margin-bottom: -150px;
                        }
                
                    }
                    p {
                        font-weight: 700;
                        font-size: rem-calc(14);
                        @include md{
                            font-size: rem-calc(18);
                        } 
                        @include xxl{
                            font-size: rem-calc(36);
                        }
                    }
                }
                #step-1 {
                    h1{
                        margin-left: 30px;
                        @include md{
                            margin-left: 0;
                        }
                    }
                }
                #step-2 {
                    margin-left: 45%;
                    @include md{
                        margin-left: 0;
                    }
                }
                #step-3 {
                    margin-left: auto;
                    @include md{
                        margin-left: 0;
                    }
                }
            }
        }
            
      
      
    }
    #city-2{
        background-image: url('../img/postings/city-2.png');
        height: 70vh;
    }
    section{
        #line-1 {
            background-color: var(--mid-blue);
            height: 16px;
        }
        #line-2 {
            background-color: var(--light-blue);
            height: 16px;
        }
    }
}