/* =============
    Scams
============= */


#avoid-scams{
    color: var(--footer-blue);
    >div{
        #wtd{
            text-align: center;
            ul{
                margin: 50px;
                @include md{
                    margin: 100px;
                }
                li{
                    border-bottom: var(--footer-blue) solid 1px;
                    @include md{
                        margin: 20px;
                    }
                    
                    p{
                        font-weight: 700;
                        padding: 20px;
                        @include md{
                            padding-bottom: 40px;
                        }

                    }
                    
                }
                #voice-mails{
                    border-color: transparent;
                }
            }
        }
        #line{
            background-color: var(--mid-blue);
            height: 2px;
            margin: 50px 0;
        }
        #rec{
            margin: 50px;
            @include md{
                margin: 100px;
            }
            >div{
                
                ul{
                    li{
                        margin: 16px 0;
                        p{
                            width: 70%;

                        }
                    }
                }

            }
        }
    }
}
#examples{
    margin: 200px 0;
    @include xl{
        margin: 100px;
    }
    > div {
      

        // @include md{
        //   grid-area: events;
        // }
    
       
    
        #outer-grid {
         
          
    
          
      }
    
          #email{
           
  
    
            @include md {
              display: flex;
              display: grid;
              grid-template-columns: 8% auto 8%;
            }
  
            #left{
              margin-top: 100px;
            }
            #right{
              margin-top: 100px;
              margin-left: auto;
            }
            section{
                padding: 50px;
                @include md{
                    padding: 0px;
                }
                color: var(--white);
                background-color: var(--mid-blue);
                border-radius: 8px;
                p{
                    @include md{
                        margin: 50px;
                    }
                    
                }
                  
                  
              }
            }

            #dots{
                display: flex;
                gap: 40px;
                margin: 50px;
                justify-content: center;
                @include md{
                    margin: 100px;
                }
            }
          }

        
      }

.blue-dot{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--dark-blue);
}
.grey-dot{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #C4C4C4;
}
.title{
    background-color: var(--mid-blue);
    
    color: var(--white);
    h2{
        padding: 16px 0;
    }
    aside{
        background-color: var(--dark-blue);
        height: 16px;
    }
}