/* =============
    Tabs
============= */

#tabs{
    background-color: cornflowerblue;

    #tab-section{
        ul{
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
        }
    }

    #buttons{
        ul{
            display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: repeat(6,auto);
        }
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-rows: repeat(6,auto);
        button{
            align-items: center;
        }
    }
}