/* =============
    Tabs
============= */

#tabs{
    background-color: cornflowerblue;

    #tab-section{
        ul{
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
        }
    }

    #buttons{
        ul{
            display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: repeat(6,auto);
        }
        display: grid;
        grid-template-rows: repeat(6,auto);
        button{
            width: 100%;
            height: 100px;
            align-items: center;

            @include md{
                height: 152px;   
            }
            @include xxl{
                height: 170px;
            }
        }
    }
}