/* =============
    Footer
============= */

section{
    #one {
        background-color: var(--light-blue);
        height: 16px;
    }
    #two {
        background-color: var(--dark-blue);
        height: 8px;
    }
}
#footer{

    background-color: var(--footer-blue);
    color: var(--white);
    padding: 20px 0px;
    #major-links{
        display: grid;
        grid-template-columns: auto auto auto;
        border-bottom: 1px solid var(--white);
        margin-bottom: 20px;
        #left{
            margin-bottom: 20px;
        }
        #center{
            text-align: center;
        }
        #right{
            text-align: right;
        }
    }
#bottom-row{
    display: flex;
}
}