/* =============
    Header
============= */

#header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--white);
    
    #nav-bar{
       >div{
    
        display: grid;
            grid-template-columns: 50% auto;
        #header-container{
            align-items: center;
            padding: 36px 0px;
            
        }
                #burger{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    @include lg{
                        display: none;
                    }
                   
                    button{
                        border: none;
                        padding: 16px;
                        background-color: transparent;
                        @include lg{
                            display: none;
                        }
                        
                        
                    }
                }
        
        }
    }
    section{
        #line-1 {
            background-color: var(--dark-blue);
            height: 16px;
        }
        #line-2 {
            background-color: var(--mid-blue);
            height: 16px;
        }
    }
    }
